@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headings-font-color:#da0067;
    --background-color:#e1f5ff;
    --icon-color:#050038;
    --button-color:#ec2761;
    --nav-bg:#ffffff;

}

body{
    color:black;
    background-color:var(--background-color);
    width: 100%;
    overflow: hidden; /* Hide scrollbars */
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
}

/* --------------------------------------------------------Header-------------------------------------- */





header nav{
     width: 98%;
    margin-left:1rem;
    margin-right: 1rem; 
    background-color:var(--nav-bg);
    border-radius: 12px;
    margin-top:.5rem;
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

nav h1{
    color: #da0067;
    /* border: 1px solid black; */
    margin-left: 5rem;
    padding-top:-0.2rem;
}
nav ul{
    display: flex;
    padding-top: 0.5rem;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    gap: 2.5rem;
    margin-right: 5rem;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    /* border: 1px solid black; */
    border-radius:24px;
    padding: .5rem;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: black;
    cursor: pointer;
    transition: .7s;
    transition: ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
nav ul li a:hover, a:active{
    background-color:var(--button-color);
    color: white;
    padding-inline: .75rem;
    letter-spacing:0.03cm;
    transition: .7s;
    transition: ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}


/* ---------------------------------------------------------------Main------------------------------------------------ */

/* ---------------------------------------------------Hero Section---------------------------------------------- */

#hero_section{

    height: 87.5vh;
}
#hero_section> div{
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hero_text{
    margin-top: 3rem;
    font-size: medium;
    font-weight: 700;
}
.hero_text p{
    letter-spacing:.09dvw;
    text-align: center;
    color:rgb(91, 90, 90);
}
.buttons{
    /* border: 1px solid green; */
    display: flex;
    gap:.7rem;
}
.buttons  button{
    color: white;
    font-weight: 600;
    padding:1rem;
    padding-inline:2rem;
    margin-top: 5rem;
    scroll-behavior: smooth;
    border:none;
    cursor: pointer;
    /* border:1px solid white; */
    border-radius: 24px;
    background-color:var(--button-color);
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: .5s;
    transition: ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;

}
.buttons button:hover{
    background-color: var(--nav-bg);
    color:var(--button-color);
    padding-inline-end:2.5rem;
    /* letter-spacing:0.01cm; */
    transition: .5s;
    transition: ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    
}
#eclips{
    /* border: 1px solid black; */
    margin-top: 4rem;
    color: #da0067;
    background-color: var(--nav-bg);
    height: 12rem;
    text-align: center;
    width: 17rem;
    opacity:90%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

    animation: eclipsEnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
#eclips:hover{
    opacity: 100%;
}
#eclips:nth-child(1){
    padding-top: 1.7rem;
    font-size:210%;
}



@keyframes eclipsEnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, 150px , 0);
        cursor: pointer;
        transition: 0.25s all ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInAnimations_for_text {
    0% {
        opacity: 0;
        transform: translate3d(0, 150px , 0);
        cursor: pointer;
        transition: 0.5s all ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*---------------------------------------------------- get_started_section----------------------------- */


#get_started_section{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.get_started_section_text{
    padding-top: .5rem;
}
.get_started_section_text >div{
    /* border: 1px solid red; */
    background-color:var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
    padding-bottom:.3rem;
    font-size: large;
    font-weight: 500;
    border-radius:12px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,.2); */

}
.get_started_section_text div span{
    color: rgb(91, 90, 90);
    font-size: large;
    font-weight: 600;  
}
.get_started_section_text div span:nth-child(1){
    color: var(--headings-font-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 40px;
    text-decoration:underline;
    font-weight:600;  
}

.get_started_section_text p{

    padding-top:2.5rem;
    letter-spacing:.09dvw;
    font-size: medium;
    color: rgb(26, 24, 24);

}
#get_started_section  button{
    margin-top: 1rem !important;

}

/* -------------------------------Quiz Intro Section---------------------- */

#quiz_intro{
    /* border: 1px solid brown; */
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#quiz_intro div{
    /* border: 1px solid green; */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
#quiz_intro div p{
    background-color: var(--background-color);
}
#quiz_intro h1{
       padding-right: 3.5rem;
    color: var(--headings-font-color);
    text-decoration: underline;
}
.quiz_into_text{
    width:50%;
    word-wrap: break-word;
    padding-top: 2rem;
    line-height: 2.5rem;
    font-size: medium;
    letter-spacing:.09dvw;
}


/* --------------------------Quiz section---------------------- */


#quiz{
    /* border: 1px solid green; */
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* height:87.5vh; */

    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.question_head_box div{
    /* border:1px solid goldenrod; */
    margin-right:3.5rem;
    color: var(--headings-font-color);
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.question_box h2{
    padding-bottom: 1rem;
    margin-right:6%;
    color: rgb(84, 84, 84);
}
.question_box p{
    font-size: medium;
    padding-bottom: 2rem;
}
.question_box .buttons button{
    margin-top: 0.9rem !important;
    margin-left: 3.8rem;
}
/* Customize the label (the container) */
.container {
    display: block;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    border-radius:12px;
    padding: 12px;
  }
  
  /* Hide the browser's default radio button */
  /* .container input {
    margin-top: 10px;
    margin-left: 8px;
    align-self: start;
    cursor: pointer;
    height: 1.3rem;
    width: 1.5rem;
  } */
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~  {
    display: block;
  }
  


  /* ------------------------------------what we do section--------------------------------- */

#what_we_do_section{
    /* border: 1px solid green; */
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* height:87.5vh; */


    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#what_we_do_section .what_we_do{
    color: var(--headings-font-color);
    text-align: center;
    padding-right:1%;
    word-wrap:break-word;
    text-decoration: underline;
}
#what_we_do_section p{
    padding-top: 2rem;
    font-size: medium;
    word-wrap:break-word;
}
.what_we_do_sub{
    padding-top: 1rem;
    display: grid;
    padding-left:4.5%;
    justify-content: center;
    grid-template-columns: auto auto;
    word-wrap:break-word;
    /* border: 1px solid red; */
}
.grid_item{
    /* border: 1px solid red; */
    width: 85%;
    padding: 15px;
    word-wrap:break-word;
    text-align: center;
}
.grid_item h1{
    color: var(--headings-font-color);
    word-wrap:break-word;
}


/* ---------------------------------------Mental Health Resources----------------------------- */



#mental_health_resources{
    width: 100%;
    display: flex;
    gap:1rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* height:87.5vh; */

    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.mh_resources_heading{
    /* border: 1px solid firebrick; */
    display: flex;
    padding-right:4.5%;
    gap: .5rem;
    justify-content:space-evenly;

}
.mh_resources_heading h1{
color: var(--headings-font-color);
padding-top:10%;
text-decoration: underline;
}
.mh_resources_heading img{
    margin-top:4%;
}

#mental_health_resources p{
    font-size: medium;
}
.mh_resources{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}
.mh_resources .grid_item{
    /* border: 1px solid red; */
    display: flex;
    width:auto;
    padding-block:2rem;
    flex-direction: column;
    align-items: center;   
}
.mh_resources .grid_item h1{
    padding-bottom:3.5%;
    padding-top:1rem !important;
}

#mental_health_resources .grid_item h1{
    padding-top:.5rem !important; 
}
.grid_item_end{
    display: flex;
    width:auto;
    /* padding-block:2rem; */
    flex-direction: column;
    align-items: center;  
}


/*------------------------------------------------------------ Contact US ------------------------------*/


#contact_us{
    /* border: 1px solid goldenrod; */
    width: 100%;
    padding-top:.5rem;
    display: flex;
    gap:1rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height:87.5vh;
    font-size: medium;


    animation: fadeInAnimations_for_text ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#contact_us .contact_us_heading{
 display: flex;
 padding-right: 6%;
 gap: 1rem;
 color: var(--headings-font-color);
 align-items: center;
}
.contact_us_boxes{
    padding-top: 5rem;
    display: flex;
    width: 60%;
    gap: 5rem;
}
.contact_us_boxes div{
    background-color:#f5d03f;

}