
{% extends "base.html" %}
{% block title %}Better Days - Contact US{% endblock %}


{% block content %}

 <section id="contact_us">
        <div class="contact_us_heading">
           <img
            src="{{url_for('static', filename='assets/2989993.png')}}"
            alt=""
            height="100rem"
            width="100rem"
          />
          <h2>Contact Us</h2>
        </div>
        <p>
          If you are in need of any extra assistance or require any additional
          information<br> please feel free to contact us through our email:
        </p>
        <div class="contact_us_heading">
          <img
            src="{{url_for('static', filename='assets/5847fafdcef1014c0b5e48.png')}}"
            height="30px"
            width="30px"
            alt=""
          /><a href="mailto:BetterHelp@gmail.com">BetterHelp@gmail.com</a>
        </div>
        <div class="contact_us_boxes">
          <div>
            For urgent medical help, use the <a href="https://111.nhs.uk/">NHS 111 online service</a>, or call 111
            if you are unable to get help online. For life-threatening
            emergencies, call 999 for an ambulance.
          </div>
          <div>If you are feeling immediately suicidal  please contact these support  services immediately:
            Samaritans - 116 123
            Lifeline - 0808 808 8000 National Suicide Prevention Helpline -  0800 689 5652</div>
        </div>
      </section>

{% endblock %}