{% extends "base.html" %}
{% block title %}Better Days{% endblock %}


{% block content %}
      <section id="get_started_section">
        <div class="get_started_section_text">
          <div>
            <span> Men </span>
            <span> You are not alone. </span>
            <span> You are not a failure. </span>
            <span> You are not worthless. </span>
            <span> You are loved. </span>
            <span> You are special. </span>
            <span> You are human. </span>
            <span> We are here to help you </span>
          </div>

        </div>
        <div class="get_started_section_text_lower">
          <p>
            &#8220;In the UK, suicide is the biggest killer in men under the age
            of 50.
            Mental Health is real we are here
            to provide all the resources you need to help you get better.
            Please take some time to take our Mental Health
            Self-Assessment quiz and begin your road to a new life.&#8221;
          </p>
        </div>
        <div class="buttons">
        <button onclick="location.href='{{url_for('quiz_intro')}}'">Self-Assessment Quiz</button>
        </div>
      </section>

  {% endblock %}