{% extends "base.html" %}
{% block title %}Better Days - Mental Health Resources{% endblock %}


{% block content %}
      <section id="mental_health_resources">
        <div class="mh_resources_heading">
          <img
            src="{{url_for('static', filename='assets/download-mental-health.png')}}"
            alt=""
            height="90rem"
            width="90rem"
          />
          <h2>Mental Health Resources</h2>
        </div>
        <div class="mh_resources">
          <div class="grid_item">
            <h3>Anxiety UK</h3>
            <span>Telephone: <a href="tel:03444775774">0344-4775774</a></span>
            <span
              >Website:
              <a href="https://www.anxietyuk.org.uk" target="_blank"
                >https://www.anxietyuk.org.uk</a
              ></span
            >
          </div>
          <div class="grid_item">
            <h3>Calm - Men aged 15-35</h3>
            <span>Telephone: <a href="tel:0800585858">0800585858</a></span>
            <span
              >Website:
              <a href="https://www.anxietyuk.org.uk" target="_blank"
                >https://www.anxietyuk.org.uk</a
              ></span
            >
          </div>
          <div class="grid_item">
            <h3>Mind - LGBTQ+ support</h3>
            <span>Telephone: <a href="tel:03001233393">03001233393</a></span>
            <span
              >Website:
              <a href="https://www.mind.org.uk" target="_blank"
                >www.mind.org.uk</a
              ></span
            >
          </div>
          <div class="grid_item">
            <h3>Sane - Over 30's</h3>
            <span>Telephone: <a href="tel::020 3805 1790">020 3805 1790</a></span>
            <span
              >Website:
              <a href="https://www.sane.org.uk" target="_blank"
                >www.sane.org.uk</a
              ></span
            >
          </div>
        </div>
        <div class="grid_item_end">
          <h3>Addiction Center - Substance abuse</h3>
          <span>Telephone: <a href="tel::8337680625">8337680625</a></span>
          <span
            >Website:
            <a href="https://www.addictioncenter.com" target="_blank"
              >www.addictioncenter.com</a
            ></span
          >
        </div>
      </section>
{% endblock %}
