{% extends "base.html" %} {% block title %}Better Days - Quiz{% endblock %} {%
block content %}
<section id="quiz">
  <div class="question_head_box">
    <div>
      <img
        src="{{url_for('static', filename='assets/download.png')}}"
        alt=""
        height="100rem"
        width="100rem"
      />
      <h1>Mental Health Self-Assessment Quiz</h1>
    </div>
  </div>
  <div class="question_box">
    <h2>Question {{q_number}}</h2>
    <p>{{question}}</p>
    <form action="{{ url_for('quiz_main') }}" method="POST">
      <label class="container">
        <input type="radio" name="radio" value="yes" required>
        Yes
      </label>

      <label class="container">
        <input type="radio" name="radio" value="no" required>
        No
      </label>

      <div class="buttons" id="quiz_main_button">
      <button type="submit">
        Next Question
      </button>
      </div>
    </form>


  </div>
</section>

{% endblock %}
