{% extends "base.html" %}
{% block title %}Better Days - Quiz{% endblock %}


{% block content %}
      <section id="quiz">
        <div class="question_head_box">
          <div>
            <img
              src="{{url_for('static', filename='assets/download.png')}}"
              alt=""
              height="100rem"
              width="100rem"
            />
            <h2>Mental Health Self-Assessment Quiz</h2>
          </div>
        </div>
        <div class="question_box">
          <h2>Question 1</h2>
          <p id="quiz_1_p">Which age category do you belong to?</p>
          <div>
          <form action="{{ url_for('quiz_main') }}" method="POST">
            <label class="container">
              <input type="radio" name="radio" value="1" required>
              16 - 24 Years Old
            </label>

            <label class="container">
              <input type="radio" name="radio" value="0" required>
              25 - 35 Years Old
            </label>
            <label class="container">
              <input type="radio" name="radio" value="0" required>
              36 - 49 Years Old
            </label>
            <label  class="container">
              <input type="radio" name="radio" value="0" required>
              50+ Years Old
            </label>

            <div class="buttons" id="quiz_1_btn">
            <button type="submit">Next Question</button>
          </div>

          </form>
          </div>

        </div>
      </section>

  {% endblock %}
