{% extends "base.html" %}
{% block title %}Better Days - What We Do{% endblock %}


{% block content %}

     <section id="what_we_do_section">
        <h2 class="what_we_do">What We Do</h2>
        <p class="uper_p">
          Here at Better Days, we understand the struggles many men endure
          during their life.
          Our belief is that many categories of men are being underrepresented
          and as a result, resources can be hard to come by.
          Our quiz questions are person specific, based off your profile we
          provide you relevant and adaptive
          questions to allow us to provide the best possible resources to aid
          your treatment.
        </p>
        <div class="what_we_do_sub">
          <div class="grid_item">
            <h3>Age</h3>
            <p>
              Studies show that men from different age ranges deal with separate
              battles. Our diagnosis and treatment reflects this.
            </p>
          </div>
          <div class="grid_item">
            <h3>Sexuality</h3>
            <p>
              Studies show that men with different age sexual orientations deal
              with separate battles. Our diagnosis and treatment reflects this
            </p>
          </div>
          <div class="grid_item">
            <h3>Substance Abuse</h3>
            <p>
              Mental Health issues can often lead to substance abuse. Our aim is
              to provide the appropriate resources to aid the treatment of both
            </p>
          </div>
          <div class="grid_item">
            <h3>Accessibility</h3>
            <p>
              Mental Health affects people of all ages and abilities. We have
              created an easy to use app for all levels of ability.
            </p>
          </div>
        </div>
      </section>

{% endblock %}
